<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MLVision</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/static/register.css">
  <script src="/static/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/main.js"></script>
</head>
<body>
  <div class="page-header text-center">
    <h2><a href="main.html">MLVision Facial Motion Detection System</a></h2>
  </div>
  <div class="page-body">
  {% block body_content %}
  {% endblock%}
  </div>
</body>
</html>
