<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MLVision-Create Account</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/createaccount.css">
  <script src="/static/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/createaccount.js"></script>
</head>

<body>
  <div class="page-header text-center">
    <h2><a href="/">MLVision Facial Motion Detection System</a></h2>
  </div>
  <div class="page-body">

        <div class="usernameinfo text-center" id="username-wrapper">
          <h3>Enter your username: </h3>

          {% from "_formhelpers.html" import render_field %}
          <form method="POST" action=" ">
            <div class="input-wrapper">
              {{render_field(form.username, class_="text-center")}}
            </div>

            <button id="afterusername" class="btn btn-primary" type="submit">Continue</button>
          </form>
        </div>


    <div class="camerawindow">
      <div class="notes text-center">
        <p>Learning your face..<br> Take three photos at different angles..</p>
      </div>
      <div class="video">
        <video autoplay="true" id="videoElement">
        </video>

      </div>

      <button id="takephoto" class="btn btn-primary" type="submit">Take Photo</button>
    </div>
  </div>
</body>
</html>
