<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MLVision-Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/login.css?1">
  <script src="/static/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/login.js?1"></script>
  <script>

  </script>
</head>

<body>
  <div class="page-header text-center">
    <h2><a href="/">MLVision Facial Motion Detection System</a></h2>
  </div>
  <div class="page-body">
    <div class="usernameinfo text-center" id="username-wrapper">
      <h3>Enter your username: </h3>
      <div class="input-wrapper">
        <input class="text-center" placeholder="username"></input>
      </div>

      <button id="afterusername" class="btn btn-primary" type="submit">Continue</button>
    </div>
    <div class="camerawindow">
      <div class="notes text-center">
        <p>Detecting face...</p>
      </div>

        <!--
        <video id="bg" src="{{ url_for('recog') }}">
        </video>
        -->

        <img src="{{url_for('video_feed')}}" width="50%">


      </div>
    </div>
  </div>
</body>
</html>
