{% extends "base_layout.html" %}

  {% block body_content %}
  <div class="usernameinfo text-center" id="username-wrapper">
    <h3>Enter your password: </h3>

    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="/register2">
      <div class="input-wrapper">
        <input type="text" name="password" id="password" placeholder="Password" required/>
      </div>

      <button id="afterusername" class="btn btn-primary" type="submit">Continue</button>
    </form>
  </div>

  {% endblock%}
